@font-face {
  font-family: "font_MADEBV";
  src: url(font/MADEBonVoyage.otf);
}

@font-face {
  font-family: "font_ModernSansLight";
  src: url(font/ModernSans-Light.otf);
}

html, body {
  margin: 0;
}

.titleHeading {
  font-family:'font_MADEBV';
  line-height: 0px;
  font-weight: normal;
}

.navHeading {
  font-family: "font_ModernSansLight";
  font-size: 24px;
  min-width: 200px;
  width: 25%;
  height: 35px;
  text-align: center;
  padding-top: 10px;
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  margin: 0px;
}
/*
.navIcon {
  width: 50px;
  float: left;
}
*/
#navDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#navHome, #navNews, #navFeature, #navLiterature {
  width: 25%;
}

@media screen and (max-width: 800px) {
  #navHome, #navNews, #navFeature {
    width: calc(100%/3);
  }
  #navLiterature {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #navHome, #navNews {
    width: 50%;
  }
  #navFeature, #navLiterature {
    width: 50%;
  }
}
@media screen and (max-width: 400px) {
  #navHome, #navNews, #navFeature, #navLiterature {
    width: 100%;
  }
}
