@font-face {
  font-family: "font_MADEBV";
  src: url(font/MADEBonVoyage.otf);
}

@font-face {
  font-family: "font_ModernSansLight";
  src: url(font/ModernSans-Light.otf);
}

html, body {
  margin: 0;
  background-color: #000000;
}

#homeDiv {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("../img/homebg.jpg");;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleHeading {
  font-family: "font_MADEBV";
  line-height: 0;
  text-align: center;
}

.navHeading {
  line-height: 120px;
  text-align: center;
  font-size: 24px;
  font-family: "font_ModernSansLight";
  flex-grow: 1;
  height: 120px;
  min-width: 150px;
  margin: 10px;
  transition: background-color 0.2s, opacity 0.5s, height 0.5s;
}

#titleDiv {
  min-width: 300px;
  flex-grow: 1.5;
  margin: 20px;
}

#navDiv {
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#dropdownButton {
  display: none;
  min-width: 60px;
  background-color: #FFFFFF;
  border: none;
  font-size: 60px;
  line-height: 50px;
  margin-left: 20px;
}

.containerYouTube {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.videoYoutube {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.navHeading:hover {
  background-color: #F8F8F8;
}

@media screen and (max-width: 1040px) {
  .navHeading {
    width: 100%;
    margin: 0;
    height: 0;
    opacity: 0;
    line-height: 60px;
    text-align: left;
    padding-left: 30px;
  }
  #titleDiv {
    margin: 20px 20px 20px 0px;
  }
  #dropdownButton {
    display: block;
  }
  .show {
    opacity: 1;
    height: 60px;
  }
}
